
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;
}
body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}



.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: gray;
}

header {
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: gray;
  color: white;
  display: flex;
	align-items: center;
	justify-content: left;
}

.header-image {
  display: flex;
  padding-left: 10px;
  width: 45px;
  height: 45px;
}

.header-text {
  display: flex;
  padding-left: 20px;
  
  font-size: 11px;
  
}

.nav {

  min-height: 4.5vh;
  overflow: hidden;
  background-color: gray;
  
  
}
  
.nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
}
  
.active {
  background-color: #fa8320;
}
  
.nav .icon {
  display: none;
}
  
.nav a:hover:not(.active) {
  background-color: #555;
  color: white;
}
  
  
@media screen and (max-width: 713px) {
  .nav a:not(.active) {
    display: none;
  }
  .nav a.icon {
    float: right;
    display: block;
  }
  .contact_form p {
    font-size: 22px;
  }
  .social_media_box_title {
    font-size: 22px;
  }
  .social_big_icons {
    display: none;
  }
}
  
@media screen and (max-width: 713px) {
  .name_forms {
    width: 80%;
  }
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (min-width: 713px) {
  .about_text p {
    font-size: 30px;
  }
  .contact_form p {
    font-size: 30px;
  }
  .name_forms {
    width: 168px;
  }
  .social_media_box_title {
    font-size: 30px;
  }
  .social_small_icons {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .contact_form {
    margin: 25px;
  }
  .social_media_box {
    margin: 25px;
  }
}

@media screen and (min-width: 1101px) {
  .contact_form {
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-right: 75px;
  }
  .social_media_box {
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-left: 75px;
  }
}
  

.section_1 {
  height: fit-content;
   
}

.home_title {
  text-align: center;
  color:  gray;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  font-size: 26px;
  }
.pages_title {
  text-align: center;
  color:  gray;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  font-size: 30px;
  }

.searchBox {
  display: flex;
  
  background-color: gray;
  width: 80vw;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.75rem 20px;
  border-radius: 60px;
  
}

.form-control {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 14px;
  color: white;
  line-height: 1rem;
  font-size: 1rem;
  
}





::placeholder {
  color: white;
  font-size: 14px;
}
.section_2 {
  height: fit-content;
  
}
  

.section_2 h2 {
  text-align: center;
  color:  gray;
  padding-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
}


.section_3 h2 {
  text-align: center;
  color:  gray;
  padding-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
}

.courtsBox {
	/*Use display: flex to change the layout*/
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;   
}

.Top3RatedCourts {
  margin: 35px;
  display: block;
	box-shadow: 0 0 1rem rgb(0 0 0 / 0.25);
	background-color: #fa8320;
	width: 270px;
  height: 349px;
  transition: scale 350ms ease, opacity 350ms linear;
	/*Create box equal size*/
	
}

.courtBox {
  margin: 35px;
  display: none;
	box-shadow: 0 0 1rem rgb(0 0 0 / 0.25);
	background-color: #fa8320;
	width: 270px;
  height: 349px;
  transition: scale 350ms ease, opacity 350ms linear;
  
	/*Create box equal size*/
	
}



@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.courtsBox:has(.courtBox:hover) .courtBox:not(:hover) {
  scale: 0.9;
  opacity: 0.7;
}

.courtsBox:has(.Top3RatedCourts:hover) .Top3RatedCourts:not(:hover) {
  scale: 0.9;
  opacity: 0.7;
}



.courtBox h3, p {
  text-align: center;
  color: white;

}

.Top3RatedCourts h3, p {
  text-align: center;
  color: white;

}

#searchText {
  display: none;
  
}

#no_results {
  margin-top: 1rem;
  display: none;
  text-align: center;
  color: gray;
  transition: scale 350ms ease, opacity 350ms linear;
  animation: fadeIn 0.25s;
  -webkit-animation: fadeIn 0.25s;
  -moz-animation: fadeIn 0.25s;
  -o-animation: fadeIn 0.25s;
  -ms-animation: fadeIn 0.25s;
  
}

.courtsBox img {
  
  width: 270px;
  height: 180.36px;

}


.courtBox .button-1 {
  display: block;
	text-align: center;
	color: white;
	font-weight: bold;
}

.Top3RatedCourts .button-1 {
  display: block;
	text-align: center;
	color: white;
	font-weight: bold;
}

.button-wrapper {
  height: 3rem;
  background-color: gray;
  justify-content: center;
  align-items: center;
  display: flex;
}


.footer_icons {
  text-align: center;
}

.social_small_icons {
  margin-bottom: 17px;
  text-align: center;
}

.social_big_icons {
  margin-bottom: 17px;
  text-align: center;
}

.fa-facebook {
  color: white;
}

.fa-youtube {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-instagram {
  color: white;
}

.fa-snapchat {
  color: white;
}

.about_text {
  display: flex;
  background-color: #fa8320;
  height: fit-content;
  width: 80%;
  max-width: 1000px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
}

.about_text p {
  padding: 20px;
}

.team_box {
  display: flex;
  background-color: #fa8320;
  height: fit-content;
  width: 80%;
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.team_icon {
  height: fit-content;
  padding: 20px;
}

.team_text  {
  background-color: gray;
  text-align: center;
  color: white;
  padding: 10px;
}

.contact_boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.contact_form {

  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  width: 80%;
  max-width: 450px;
  height: fit-content;
  background-color: #fa8320;
  text-align: center;
} 

.contact_form p {
  margin-bottom: 15px;
}

.contact_form input {
  margin: 10px;
  color: white;
}

.social_media_box {
  
  width: 80%;
  max-width: 450px;
  height: fit-content;
  background-color: #fa8320;
}

.name_forms {
  background-color: transparent;
  border: white 2px solid;
  padding: 5px;
}

.email_form {
  background-color: transparent;
  border: white 2px solid;
  padding: 5px;
  width: 80%;
}

.message_form {
  color: white;
  font-family: 'Roboto', sans-serif;
  resize: none;
  background-color: transparent;
  border: white 2px solid;
  padding: 5px;
  margin: 10px;
  width: 80%;
  height: 150px;
}

#contact_btn {
  display: block;
  margin-left: 10%;
  color: white;
  background-color: gray;
  padding: 10px;
  border: none;
  
}

#contact_btn:hover {
  background-color: #555;
  color: white;
  cursor: pointer;
}
.social_media_box_title {
  padding-top: 17px;
  padding-bottom: 17px;
}

.social_media_box_p {
  padding-left: 10px;
  padding-right: 10px;
}

.court_name {
  color: gray;
  font-size: 32px;
  text-align: left;
  margin-left: 10%;
}

.court_place {
  margin-left: 10%;
  text-align: left;
  color: gray;
}

.court_page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.court_info {
  background-color: gray;
  width: 100%;
  max-width: 400px;
  margin-bottom: 25px;
}

.court_info_name {
  text-align: left;
  margin-left: 25px;
  margin-top: 25px;
  font-size: 1.5rem;
}

.court_info_type {
  text-align: left;
  margin-left: 25px;
  margin-top: 10px;
  font-size: 1rem;
}

.court_info_address {
  text-align: left;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
}

.court_map_vote {
  background-color: #fa8320;
  width: 100%;
  max-width: 600px;
  margin-bottom: 25px;
  
}

.court_map_vote iframe {
  display: block;

  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.vote_text {
  text-align: left;
  margin-left: 25px;
  margin-bottom: 25px;
}